body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin: 15px;
}

.card-header {
    background-color: #9b4d96;
    color: white;
    font-weight: bold;
}

.card-footer {
    background-color: #f1f3f5;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item .btn-outline-danger {
    color: #9b4d96;
    border-color: #9b4d96;
}

.navbar-nav .nav-item .btn-outline-danger:hover {
    background-color: #9b4d96;
    color: white;
}

h2 {
    color: #9b4d96;
    font-weight: bold;
    text-align: center;
}

#eventosList, #relatoriosList {
    list-style-type: none;
    padding-left: 0;
}

#eventosList li, #relatoriosList li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

#eventosList li:hover, #relatoriosList li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.cookie-msg{
    width: 80%;
    background-color: #fff;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
}
.cookie-msg.mostrar{
    display: block;
}

.cookie-msg .cookie-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;

}

.cookie-msg .cookie-btn{
    margin-left: 30px;
}

.cookie-msg .cookie-btn button{
    background-color: blueviolet;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 40px;
    cursor: pointer;
    transition: .2s;
}
.cookie-msg .cookie-btn button:hover{
    transform: scale(0.9)
}
/* Centralizando o botão "Visão Geral" na parte inferior */
.text-center.mt-4 {
    position: RELATIVE;
    bottom: 20px; /* Distância da borda inferior */
    left: 50%;
    transform: translateX(-50%); /* Centralizando horizontalmente */
    z-index: 10; /* Garantir que o botão fique acima de outros elementos */
}

/* Estilo do botão */
.btn-success {
    background-color: #9b4d96;
    border-color: #9b4d96;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

/* Efeito de hover no botão */
.btn-success:hover {
    background-color: #7a2e7a;
    border-color: #7a2e7a;
    cursor: pointer;
    transform: scale(1.05);
}

/* Adicionando um efeito de sombra no botão */
.btn-success:focus, .btn-success:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

