/* Estilos gerais */
body {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 800px;
  }
  
  h2, h4 {
    color: #4e4e4e;
  }
  
  /* Formulários */
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Feedback */
  .alert {
    margin-top: 10px;
  }
  
  /* Estilo para mensagens de sucesso */
  .alert-success {
    background-color: #28a745;
    color: white;
  }
  
  /* Estilo para mensagens de erro */
  .alert-danger {
    background-color: #ffffff;
    color: white;
  }
  
  /* Botão de voltar */
  .btn-secondary {
    margin-top: 20px;
  }
  